.ant-layout.ant-layout-has-sider {
  min-height: 100vh;

  .ant-layout-header.header {
    padding: 0;
    text-align: center;
    background-color: #fff;

    > strong {
      font-size: 30px;
    }
  }

  .ant-layout-content {
    margin: 0 16px;

    .ant-breadcrumb {
      margin: 16px 0;
    }

    .workplace-area {
      min-height: 535px;
      padding: 24px;
      background-color: #fff;

      > .content {
        display: flex;

        .demo-card .ant-card {
          color: white;
          background-color: #001529;

          .ant-card-head {
            color: white;
          }
        }

        .card-size {
          margin-right: 20px;

          > p {
            margin-top: 10px;
          }
        }
      }
    }
  }

  .ant-layout-footer {
    text-align: center;
  }
}
